@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Jura:wght@300..700&display=swap');
/* body {
    height: auto;
    background-color: #F5B9BF;
} */
.getPetsContainer {
    background-color: #F5B9BF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: auto;
    font-family: "Jura", sans-serif;
    width: 100%;
    /* margin: 0; */
    /* padding: 0; */
}

.adoptButton {
    padding: 12px 24px;
    background-color: white;
    color: #B8336A;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 4px 5px #B8336A;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-top: auto;
    margin-bottom: 10px;
}

.adoptButton:hover {
    background-color: #E8D5DF;
    transform: translateY(-2px);
}

.getFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    background-color: #9bb1e9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 2rem;
}

.titleContainer {
    color: #B8336A;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.petsDisplay {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.refreshButton {
    padding: 10px 20px;
    background-color: #B8336A;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.refreshButton:hover {
    background-color: #982f55;
}

.timerDisplay {
    font-size: 1.3rem;
    color: #FF69B4;
    background-color: #FFF0F5;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Bai Jamjuree", sans-serif;
    display: inline-block;
    margin: 10px;
    animation: pulse 2s infinite;
}
