@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Jura:wght@300..700&display=swap');

.petContainer {
    height: auto;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: #b3c1e7;
    flex-direction: column;
    margin-bottom: 1rem;
}

.pixelPets {
    display: flex;
    align-items: center;
}

.pixelPets img {
    height: 7rem;
    width: auto;
    margin: 1rem;

}

.subtitle {
    font-family: "Jura", sans-serif;
    font-size: 1.5rem;
    color: #B8336A;
    align-items: flex-start;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subheader {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.myCards {
    display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 20px;
       width: 80%;
       margin: auto;
   }
   .editButton {
    padding: 10px 20px;
    background-color: white;
    color: #B8336A;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1rem;
    border: none;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 4px 5px #B8336A;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-top: auto;
    margin-bottom: 10px;
}