:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
  
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.cardContainer {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  border: 1px solid rgba(200 200 200 / 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #eee;
  text-shadow: 0 1px 0 #999;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.rotationWrapper {
    width: 300px;
    height: 400px;
    
    transform-style: preserve-3d;
}
  
.cardWrapper {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    backdrop-filter: blur(4px) brightness(120%);
    transition: width 1s ease-in-out;
}
